ETCDCTL_API=3 \
etcdctl --endpoints={% for host in groups['etcd'] %}https://{{ hostvars[host].inventory_hostname }}:2379{% if not loop.last %},{% endif %}{% endfor %} \
--write-out=table \
--cacert={{ etcd_dir }}/ssl/ca.pem \
--cert={{ etcd_dir }}/ssl/etcd.pem \
--key={{ etcd_dir }}/ssl/etcd-key.pem \
endpoint health 
