[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=containerd.service
Requires=containerd.service

[Service]
WorkingDirectory=/var/lib/kubelet
ExecStart={{ bin_dir }}/kubelet \
 --container-runtime=remote \
 --container-runtime-endpoint=unix:///run/containerd/containerd.sock \
 --bootstrap-kubeconfig={{ k8s_dir }}/kubelet-bootstrap.kubeconfig \
 --cert-dir={{ k8s_dir }}/ssl \
 --kubeconfig={{ k8s_dir }}/kubelet.kubeconfig \
 --config={{ k8s_dir }}/kubelet.json \
 --pod-infra-container-image=registry.aliyuncs.com/google_containers/pause:3.6 \
 --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
