apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ k8s_dir }}/ssl/ca.pem
    server: https://{{ vip }}:6444
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubernetes-admin
  name: kubernetes
current-context: kubernetes
kind: Config
preferences: {}
users:
- name: kubernetes-admin
  user:
    client-certificate: {{ k8s_dir }}/ssl/admin.pem
    client-key: {{ k8s_dir }}/ssl/admin-key.pem

